In [1]:
import pickle

In [2]:
path='EditSQL/data_clean/spider_data_removefrom/'
with (open(path+'dev.pkl', "rb")) as openfile:
    data=pickle.load(openfile)

In [3]:
data

[{'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 0,
  'final': {'utterance': 'How many documents do we have ?',
   'sql': 'select count ( documents.* )'},
  'interaction': [{'utterance': 'How many documents do we have ?',
    'sql': [(['select', 'count', '(', 'documents.*', ')'], [])]}]},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 1,
  'final': {'utterance': 'Count the number of documents .',
   'sql': 'select count ( documents.* )'},
  'interaction': [{'utterance': 'Count the number of documents .',
    'sql': [(['select', 'count', '(', 'documents.*', ')'], [])]}]},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 2,
  'final': {'utterance': 'List document IDs , document names , and document descriptions for all documents .',
   'sql': 'select documents.document_id , documents.document_name , documents.document_description'},
  'interaction': [{'utterance': 'List document IDs , document names , and document descriptions for all documents .',
    'sql': [(['select',
       'documents.document_id',
       ',',
       'documents.document_name',
       ',',
       'documents.document_description'],
      [])]}]},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 3,
  'final': {'utterance': 'What are the ids , names , and descriptions for all documents ?',
   'sql': 'select documents.document_id , documents.document_name , documents.document_description'},
  'interaction': [{'utterance': 'What are the ids , names , and descriptions for all documents ?',
    'sql': [(['select',
       'documents.document_id',
       ',',
       'documents.document_name',
       ',',
       'documents.document_description'],
      [])]}]},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 4,
  'final': {'utterance': "What is the document name and template id for document with description with the letter 'w ' in it ?",
   'sql': 'select documents.document_name , documents.template_id where documents.document_description like value'},
  'interaction': [{'utterance': "What is the document name and template id for document with description with the letter 'w ' in it ?",
    'sql': [(['select',
       'documents.document_name',
       ',',
       'documents.template_id',
       'where',
       'documents.document_description',
       'like',
       'value'],
      [])]}]},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 5,
  'final': {'utterance': 'Return the names and template ids for documents that contain the letter w in their description .',
   'sql': 'select documents.document_name , documents.template_id where documents.document_description like value'},
  'interaction': [{'utterance': 'Return the names and template ids for documents that contain the letter w in their description .',
    'sql': [(['select',
       'documents.document_name',
       ',',
       'documents.template_id',
       'where',
       'documents.document_description',
       'like',
       'value'],
      [])]}]},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 6,
  'final': {'utterance': "What is the document id , template id and description for document named `` Robbin CV '' ?",
   'sql': 'select documents.document_id , documents.template_id , documents.document_description where documents.document_name = value'},
  'interaction': [{'utterance': "What is the document id , template id and description for document named `` Robbin CV '' ?",
    'sql': [(['select',
       'documents.document_id',
       ',',
       'documents.template_id',
       ',',
       'documents.document_description',
       'where',
       'documents.document_name',
       '=',
       'value'],
      [])]}]},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 7,
  'final': {'utterance': 'Return the document id , template id , and description for the document with the name Robbin CV .',
   'sql': 'select documents.document_id , documents.template_id , documents.document_description where documents.document_name = value'},
  'interaction': [{'utterance': 'Return the document id , template id , and description for the document with the name Robbin CV .',
    'sql': [(['select',
       'documents.document_id',
       ',',
       'documents.template_id',
       ',',
       'documents.document_description',
       'where',
       'documents.document_name',
       '=',
       'value'],
      [])]}]},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 8,
  'final': {'utterance': 'How many different templates do all document use ?',
   'sql': 'select count ( distinct documents.template_id )'},
  'interaction': [{'utterance': 'How many different templates do all document use ?',
    'sql': [(['select',
       'count',
       '(',
       'distinct',
       'documents.template_id',
       ')'],
      [])]}]},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 9,
  'final': {'utterance': 'Count the number of different templates used for documents .',
   'sql': 'select count ( distinct documents.template_id )'},
  'interaction': [{'utterance': 'Count the number of different templates used for documents .',
    'sql': [(['select',
       'count',
       '(',
       'distinct',
       'documents.template_id',
       ')'],
      [])]}]},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 10,
  'final': {'utterance': "How many documents are using the template with type code 'PPT ' ?",
   'sql': 'select count ( * ) where templates.template_type_code = value'},
  'interaction': [{'utterance': "How many documents are using the template with type code 'PPT ' ?",
    'sql': [(['select',
       'count',
       '(',
       '*',
       ')',
       'where',
       'templates.template_type_code',
       '=',
       'value'],
      [])]}]},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 11,
  'final': {'utterance': 'Count the number of documents that use the PPT template type .',
   'sql': 'select count ( * ) where templates.template_type_code = value'},
  'interaction': [{'utterance': 'Count the number of documents that use the PPT template type .',
    'sql': [(['select',
       'count',
       '(',
       '*',
       ')',
       'where',
       'templates.template_type_code',
       '=',
       'value'],
      [])]}]},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 12,
  'final': {'utterance': 'Show all template ids and number of documents using each template .',
   'sql': 'select documents.template_id , count ( documents.* ) group_by documents.template_id'},
  'interaction': [{'utterance': 'Show all template ids and number of documents using each template .',
    'sql': [(['select',
       'documents.template_id',
       ',',
       'count',
       '(',
       'documents.*',
       ')',
       'group_by',
       'documents.template_id'],
      [])]}]},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 13,
  'final': {'utterance': 'What are all different template ids used for documents , and how many times were each of them used ?',
   'sql': 'select documents.template_id , count ( documents.* ) group_by documents.template_id'},
  'interaction': [{'utterance': 'What are all different template ids used for documents , and how many times were each of them used ?',
    'sql': [(['select',
       'documents.template_id',
       ',',
       'count',
       '(',
       'documents.*',
       ')',
       'group_by',
       'documents.template_id'],
      [])]}]},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 14,
  'final': {'utterance': 'What is the id and type code for the template used by the most documents ?',
   'sql': 'select documents.template_id , templates.template_type_code group_by documents.template_id order_by count ( * ) desc limit_value'},
  'interaction': [{'utterance': 'What is the id and type code for the template used by the most documents ?',
    'sql': [(['select',
       'documents.template_id',
       ',',
       'templates.template_type_code',
       'group_by',
       'documents.template_id',
       'order_by',
       'count',
       '(',
       '*',
       ')',
       'desc',
       'limit_value'],
      [])]}]},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 15,
  'final': {'utterance': 'Return the id and type code of the template that is used for the greatest number of documents .',
   'sql': 'select documents.template_id , templates.template_type_code group_by documents.template_id order_by count ( * ) desc limit_value'},
  'interaction': [{'utterance': 'Return the id and type code of the template that is used for the greatest number of documents .',
    'sql': [(['select',
       'documents.template_id',
       ',',
       'templates.template_type_code',
       'group_by',
       'documents.template_id',
       'order_by',
       'count',
       '(',
       '*',
       ')',
       'desc',
       'limit_value'],
      [])]}]},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 16,
  'final': {'utterance': 'Show ids for all templates that are used by more than one document .',
   'sql': 'select documents.template_id group_by documents.template_id having count ( documents.* ) > value'},
  'interaction': [{'utterance': 'Show ids for all templates that are used by more than one document .',
    'sql': [(['select',
       'documents.template_id',
       'group_by',
       'documents.template_id',
       'having',
       'count',
       '(',
       'documents.*',
       ')',
       '>',
       'value'],
      [])]}]},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 17,
  'final': {'utterance': 'What are the template ids of any templates used in more than a single document ?',
   'sql': 'select documents.template_id group_by documents.template_id having count ( documents.* ) > value'},
  'interaction': [{'utterance': 'What are the template ids of any templates used in more than a single document ?',
    'sql': [(['select',
       'documents.template_id',
       'group_by',
       'documents.template_id',
       'having',
       'count',
       '(',
       'documents.*',
       ')',
       '>',
       'value'],
      [])]}]},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 18,
  'final': {'utterance': 'Show ids for all templates not used by any document .',
   'sql': 'select templates.template_id except select documents.template_id'},
  'interaction': [{'utterance': 'Show ids for all templates not used by any document .',
    'sql': [(['select',
       'templates.template_id',
       'except',
       'select',
       'documents.template_id'],
      [])]}]},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 19,
  'final': {'utterance': 'What are the ids for templates that are not used in any documents ?',
   'sql': 'select templates.template_id except select documents.template_id'},
  'interaction': [{'utterance': 'What are the ids for templates that are not used in any documents ?',
    'sql': [(['select',
       'templates.template_id',
       'except',
       'select',
       'documents.template_id'],
      [])]}]},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 20,
  'final': {'utterance': 'How many templates do we have ?',
   'sql': 'select count ( templates.* )'},
  'interaction': [{'utterance': 'How many templates do we have ?',
    'sql': [(['select', 'count', '(', 'templates.*', ')'], [])]}]},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 21,
  'final': {'utterance': 'Count the number of templates .',
   'sql': 'select count ( templates.* )'},
  'interaction': [{'utterance': 'Count the number of templates .',
    'sql': [(['select', 'count', '(', 'templates.*', ')'], [])]}]},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 22,
  'final': {'utterance': 'Show template ids , version numbers , and template type codes for all templates .',
   'sql': 'select templates.template_id , templates.version_number , templates.template_type_code'},
  'interaction': [{'utterance': 'Show template ids , version numbers , and template type codes for all templates .',
    'sql': [(['select',
       'templates.template_id',
       ',',
       'templates.version_number',
       ',',
       'templates.template_type_code'],
      [])]}]},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 23,
  'final': {'utterance': 'What are the ids , version numbers , and type codes for each template ?',
   'sql': 'select templates.template_id , templates.version_number , templates.template_type_code'},
  'interaction': [{'utterance': 'What are the ids , version numbers , and type codes for each template ?',
    'sql': [(['select',
       'templates.template_id',
       ',',
       'templates.version_number',
       ',',
       'templates.template_type_code'],
      [])]}]},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 24,
  'final': {'utterance': 'Show all distinct template type codes for all templates .',
   'sql': 'select distinct templates.template_type_code'},
  'interaction': [{'utterance': 'Show all distinct template type codes for all templates .',
    'sql': [(['select', 'distinct', 'templates.template_type_code'], [])]}]},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 25,
  'final': {'utterance': 'What are the different template type codes ?',
   'sql': 'select distinct templates.template_type_code'},
  'interaction': [{'utterance': 'What are the different template type codes ?',
    'sql': [(['select', 'distinct', 'templates.template_type_code'], [])]}]},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 26,
  'final': {'utterance': 'What are the ids of templates with template type code PP or PPT ?',
   'sql': 'select templates.template_id where templates.template_type_code = value or templates.template_type_code = value'},
  'interaction': [{'utterance': 'What are the ids of templates with template type code PP or PPT ?',
    'sql': [(['select',
       'templates.template_id',
       'where',
       'templates.template_type_code',
       '=',
       'value',
       'or',
       'templates.template_type_code',
       '=',
       'value'],
      [])]}]},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 27,
  'final': {'utterance': 'Return the ids of templates that have the code PP or PPT .',
   'sql': 'select templates.template_id where templates.template_type_code = value or templates.template_type_code = value'},
  'interaction': [{'utterance': 'Return the ids of templates that have the code PP or PPT .',
    'sql': [(['select',
       'templates.template_id',
       'where',
       'templates.template_type_code',
       '=',
       'value',
       'or',
       'templates.template_type_code',
       '=',
       'value'],
      [])]}]},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 28,
  'final': {'utterance': 'How many templates have template type code CV ?',
   'sql': 'select count ( templates.* ) where templates.template_type_code = value'},
  'interaction': [{'utterance': 'How many templates have template type code CV ?',
    'sql': [(['select',
       'count',
       '(',
       'templates.*',
       ')',
       'where',
       'templates.template_type_code',
       '=',
       'value'],
      [])]}]},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 29,
  'final': {'utterance': 'Count the number of templates of the type CV .',
   'sql': 'select count ( templates.* ) where templates.template_type_code = value'},
  'interaction': [{'utterance': 'Count the number of templates of the type CV .',
    'sql': [(['select',
       'count',
       '(',
       'templates.*',
       ')',
       'where',
       'templates.template_type_code',
       '=',
       'value'],
      [])]}]},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 30,
  'final': {'utterance': 'What is the version number and template type code for the template with version number later than 5 ?',
   'sql': 'select templates.version_number , templates.template_type_code where templates.version_number > value'},
  'interaction': [{'utterance': 'What is the version number and template type code for the template with version number later than 5 ?',
    'sql': [(['select',
       'templates.version_number',
       ',',
       'templates.template_type_code',
       'where',
       'templates.version_number',
       '>',
       'value'],
      [])]}]},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 31,
  'final': {'utterance': 'Return the version numbers and template type codes of templates with a version number greater than 5 .',
   'sql': 'select templates.version_number , templates.template_type_code where templates.version_number > value'},
  'interaction': [{'utterance': 'Return the version numbers and template type codes of templates with a version number greater than 5 .',
    'sql': [(['select',
       'templates.version_number',
       ',',
       'templates.template_type_code',
       'where',
       'templates.version_number',
       '>',
       'value'],
      [])]}]},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 32,
  'final': {'utterance': 'Show all template type codes and number of templates for each .',
   'sql': 'select templates.template_type_code , count ( templates.* ) group_by templates.template_type_code'},
  'interaction': [{'utterance': 'Show all template type codes and number of templates for each .',
    'sql': [(['select',
       'templates.template_type_code',
       ',',
       'count',
       '(',
       'templates.*',
       ')',
       'group_by',
       'templates.template_type_code'],
      [])]}]},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 33,
  'final': {'utterance': 'What are the different template type codes , and how many templates correspond to each ?',
   'sql': 'select templates.template_type_code , count ( templates.* ) group_by templates.template_type_code'},
  'interaction': [{'utterance': 'What are the different template type codes , and how many templates correspond to each ?',
    'sql': [(['select',
       'templates.template_type_code',
       ',',
       'count',
       '(',
       'templates.*',
       ')',
       'group_by',
       'templates.template_type_code'],
      [])]}]},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 34,
  'final': {'utterance': 'Which template type code has most number of templates ?',
   'sql': 'select templates.template_type_code group_by templates.template_type_code order_by count ( templates.* ) desc limit_value'},
  'interaction': [{'utterance': 'Which template type code has most number of templates ?',
    'sql': [(['select',
       'templates.template_type_code',
       'group_by',
       'templates.template_type_code',
       'order_by',
       'count',
       '(',
       'templates.*',
       ')',
       'desc',
       'limit_value'],
      [])]}]},
 {'id': '',
  'scenario': '',

In [8]:
import json
with open(path+'dev_lang.json', 'w') as f:
    json.dump(data, f)

In [5]:
data[0]['lang']='eng'
data[0]

{'id': '',
 'scenario': '',
 'database_id': 'cre_Doc_Template_Mgt',
 'interaction_id': 0,
 'final': {'utterance': 'How many documents do we have ?',
  'sql': 'select count ( documents.* )'},
 'interaction': [{'utterance': 'How many documents do we have ?',
   'sql': [(['select', 'count', '(', 'documents.*', ')'], [])]}],
 'lang': 'eng'}

In [6]:
for i in range(len(data)):
    data[i]['lang']='eng'

In [7]:
data

[{'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 0,
  'final': {'utterance': 'How many documents do we have ?',
   'sql': 'select count ( documents.* )'},
  'interaction': [{'utterance': 'How many documents do we have ?',
    'sql': [(['select', 'count', '(', 'documents.*', ')'], [])]}],
  'lang': 'eng'},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 1,
  'final': {'utterance': 'Count the number of documents .',
   'sql': 'select count ( documents.* )'},
  'interaction': [{'utterance': 'Count the number of documents .',
    'sql': [(['select', 'count', '(', 'documents.*', ')'], [])]}],
  'lang': 'eng'},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 2,
  'final': {'utterance': 'List document IDs , document names , and document descriptions for all documents .',
   'sql': 'select documents.document_id , documents.document_name , documents.document_description'},
  'interaction': [{'utterance': 'List document IDs , document names , and document descriptions for all documents .',
    'sql': [(['select',
       'documents.document_id',
       ',',
       'documents.document_name',
       ',',
       'documents.document_description'],
      [])]}],
  'lang': 'eng'},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 3,
  'final': {'utterance': 'What are the ids , names , and descriptions for all documents ?',
   'sql': 'select documents.document_id , documents.document_name , documents.document_description'},
  'interaction': [{'utterance': 'What are the ids , names , and descriptions for all documents ?',
    'sql': [(['select',
       'documents.document_id',
       ',',
       'documents.document_name',
       ',',
       'documents.document_description'],
      [])]}],
  'lang': 'eng'},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 4,
  'final': {'utterance': "What is the document name and template id for document with description with the letter 'w ' in it ?",
   'sql': 'select documents.document_name , documents.template_id where documents.document_description like value'},
  'interaction': [{'utterance': "What is the document name and template id for document with description with the letter 'w ' in it ?",
    'sql': [(['select',
       'documents.document_name',
       ',',
       'documents.template_id',
       'where',
       'documents.document_description',
       'like',
       'value'],
      [])]}],
  'lang': 'eng'},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 5,
  'final': {'utterance': 'Return the names and template ids for documents that contain the letter w in their description .',
   'sql': 'select documents.document_name , documents.template_id where documents.document_description like value'},
  'interaction': [{'utterance': 'Return the names and template ids for documents that contain the letter w in their description .',
    'sql': [(['select',
       'documents.document_name',
       ',',
       'documents.template_id',
       'where',
       'documents.document_description',
       'like',
       'value'],
      [])]}],
  'lang': 'eng'},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 6,
  'final': {'utterance': "What is the document id , template id and description for document named `` Robbin CV '' ?",
   'sql': 'select documents.document_id , documents.template_id , documents.document_description where documents.document_name = value'},
  'interaction': [{'utterance': "What is the document id , template id and description for document named `` Robbin CV '' ?",
    'sql': [(['select',
       'documents.document_id',
       ',',
       'documents.template_id',
       ',',
       'documents.document_description',
       'where',
       'documents.document_name',
       '=',
       'value'],
      [])]}],
  'lang': 'eng'},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 7,
  'final': {'utterance': 'Return the document id , template id , and description for the document with the name Robbin CV .',
   'sql': 'select documents.document_id , documents.template_id , documents.document_description where documents.document_name = value'},
  'interaction': [{'utterance': 'Return the document id , template id , and description for the document with the name Robbin CV .',
    'sql': [(['select',
       'documents.document_id',
       ',',
       'documents.template_id',
       ',',
       'documents.document_description',
       'where',
       'documents.document_name',
       '=',
       'value'],
      [])]}],
  'lang': 'eng'},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 8,
  'final': {'utterance': 'How many different templates do all document use ?',
   'sql': 'select count ( distinct documents.template_id )'},
  'interaction': [{'utterance': 'How many different templates do all document use ?',
    'sql': [(['select',
       'count',
       '(',
       'distinct',
       'documents.template_id',
       ')'],
      [])]}],
  'lang': 'eng'},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 9,
  'final': {'utterance': 'Count the number of different templates used for documents .',
   'sql': 'select count ( distinct documents.template_id )'},
  'interaction': [{'utterance': 'Count the number of different templates used for documents .',
    'sql': [(['select',
       'count',
       '(',
       'distinct',
       'documents.template_id',
       ')'],
      [])]}],
  'lang': 'eng'},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 10,
  'final': {'utterance': "How many documents are using the template with type code 'PPT ' ?",
   'sql': 'select count ( * ) where templates.template_type_code = value'},
  'interaction': [{'utterance': "How many documents are using the template with type code 'PPT ' ?",
    'sql': [(['select',
       'count',
       '(',
       '*',
       ')',
       'where',
       'templates.template_type_code',
       '=',
       'value'],
      [])]}],
  'lang': 'eng'},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 11,
  'final': {'utterance': 'Count the number of documents that use the PPT template type .',
   'sql': 'select count ( * ) where templates.template_type_code = value'},
  'interaction': [{'utterance': 'Count the number of documents that use the PPT template type .',
    'sql': [(['select',
       'count',
       '(',
       '*',
       ')',
       'where',
       'templates.template_type_code',
       '=',
       'value'],
      [])]}],
  'lang': 'eng'},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 12,
  'final': {'utterance': 'Show all template ids and number of documents using each template .',
   'sql': 'select documents.template_id , count ( documents.* ) group_by documents.template_id'},
  'interaction': [{'utterance': 'Show all template ids and number of documents using each template .',
    'sql': [(['select',
       'documents.template_id',
       ',',
       'count',
       '(',
       'documents.*',
       ')',
       'group_by',
       'documents.template_id'],
      [])]}],
  'lang': 'eng'},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 13,
  'final': {'utterance': 'What are all different template ids used for documents , and how many times were each of them used ?',
   'sql': 'select documents.template_id , count ( documents.* ) group_by documents.template_id'},
  'interaction': [{'utterance': 'What are all different template ids used for documents , and how many times were each of them used ?',
    'sql': [(['select',
       'documents.template_id',
       ',',
       'count',
       '(',
       'documents.*',
       ')',
       'group_by',
       'documents.template_id'],
      [])]}],
  'lang': 'eng'},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 14,
  'final': {'utterance': 'What is the id and type code for the template used by the most documents ?',
   'sql': 'select documents.template_id , templates.template_type_code group_by documents.template_id order_by count ( * ) desc limit_value'},
  'interaction': [{'utterance': 'What is the id and type code for the template used by the most documents ?',
    'sql': [(['select',
       'documents.template_id',
       ',',
       'templates.template_type_code',
       'group_by',
       'documents.template_id',
       'order_by',
       'count',
       '(',
       '*',
       ')',
       'desc',
       'limit_value'],
      [])]}],
  'lang': 'eng'},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 15,
  'final': {'utterance': 'Return the id and type code of the template that is used for the greatest number of documents .',
   'sql': 'select documents.template_id , templates.template_type_code group_by documents.template_id order_by count ( * ) desc limit_value'},
  'interaction': [{'utterance': 'Return the id and type code of the template that is used for the greatest number of documents .',
    'sql': [(['select',
       'documents.template_id',
       ',',
       'templates.template_type_code',
       'group_by',
       'documents.template_id',
       'order_by',
       'count',
       '(',
       '*',
       ')',
       'desc',
       'limit_value'],
      [])]}],
  'lang': 'eng'},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 16,
  'final': {'utterance': 'Show ids for all templates that are used by more than one document .',
   'sql': 'select documents.template_id group_by documents.template_id having count ( documents.* ) > value'},
  'interaction': [{'utterance': 'Show ids for all templates that are used by more than one document .',
    'sql': [(['select',
       'documents.template_id',
       'group_by',
       'documents.template_id',
       'having',
       'count',
       '(',
       'documents.*',
       ')',
       '>',
       'value'],
      [])]}],
  'lang': 'eng'},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 17,
  'final': {'utterance': 'What are the template ids of any templates used in more than a single document ?',
   'sql': 'select documents.template_id group_by documents.template_id having count ( documents.* ) > value'},
  'interaction': [{'utterance': 'What are the template ids of any templates used in more than a single document ?',
    'sql': [(['select',
       'documents.template_id',
       'group_by',
       'documents.template_id',
       'having',
       'count',
       '(',
       'documents.*',
       ')',
       '>',
       'value'],
      [])]}],
  'lang': 'eng'},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 18,
  'final': {'utterance': 'Show ids for all templates not used by any document .',
   'sql': 'select templates.template_id except select documents.template_id'},
  'interaction': [{'utterance': 'Show ids for all templates not used by any document .',
    'sql': [(['select',
       'templates.template_id',
       'except',
       'select',
       'documents.template_id'],
      [])]}],
  'lang': 'eng'},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 19,
  'final': {'utterance': 'What are the ids for templates that are not used in any documents ?',
   'sql': 'select templates.template_id except select documents.template_id'},
  'interaction': [{'utterance': 'What are the ids for templates that are not used in any documents ?',
    'sql': [(['select',
       'templates.template_id',
       'except',
       'select',
       'documents.template_id'],
      [])]}],
  'lang': 'eng'},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 20,
  'final': {'utterance': 'How many templates do we have ?',
   'sql': 'select count ( templates.* )'},
  'interaction': [{'utterance': 'How many templates do we have ?',
    'sql': [(['select', 'count', '(', 'templates.*', ')'], [])]}],
  'lang': 'eng'},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 21,
  'final': {'utterance': 'Count the number of templates .',
   'sql': 'select count ( templates.* )'},
  'interaction': [{'utterance': 'Count the number of templates .',
    'sql': [(['select', 'count', '(', 'templates.*', ')'], [])]}],
  'lang': 'eng'},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 22,
  'final': {'utterance': 'Show template ids , version numbers , and template type codes for all templates .',
   'sql': 'select templates.template_id , templates.version_number , templates.template_type_code'},
  'interaction': [{'utterance': 'Show template ids , version numbers , and template type codes for all templates .',
    'sql': [(['select',
       'templates.template_id',
       ',',
       'templates.version_number',
       ',',
       'templates.template_type_code'],
      [])]}],
  'lang': 'eng'},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 23,
  'final': {'utterance': 'What are the ids , version numbers , and type codes for each template ?',
   'sql': 'select templates.template_id , templates.version_number , templates.template_type_code'},
  'interaction': [{'utterance': 'What are the ids , version numbers , and type codes for each template ?',
    'sql': [(['select',
       'templates.template_id',
       ',',
       'templates.version_number',
       ',',
       'templates.template_type_code'],
      [])]}],
  'lang': 'eng'},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 24,
  'final': {'utterance': 'Show all distinct template type codes for all templates .',
   'sql': 'select distinct templates.template_type_code'},
  'interaction': [{'utterance': 'Show all distinct template type codes for all templates .',
    'sql': [(['select', 'distinct', 'templates.template_type_code'], [])]}],
  'lang': 'eng'},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 25,
  'final': {'utterance': 'What are the different template type codes ?',
   'sql': 'select distinct templates.template_type_code'},
  'interaction': [{'utterance': 'What are the different template type codes ?',
    'sql': [(['select', 'distinct', 'templates.template_type_code'], [])]}],
  'lang': 'eng'},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 26,
  'final': {'utterance': 'What are the ids of templates with template type code PP or PPT ?',
   'sql': 'select templates.template_id where templates.template_type_code = value or templates.template_type_code = value'},
  'interaction': [{'utterance': 'What are the ids of templates with template type code PP or PPT ?',
    'sql': [(['select',
       'templates.template_id',
       'where',
       'templates.template_type_code',
       '=',
       'value',
       'or',
       'templates.template_type_code',
       '=',
       'value'],
      [])]}],
  'lang': 'eng'},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 27,
  'final': {'utterance': 'Return the ids of templates that have the code PP or PPT .',
   'sql': 'select templates.template_id where templates.template_type_code = value or templates.template_type_code = value'},
  'interaction': [{'utterance': 'Return the ids of templates that have the code PP or PPT .',
    'sql': [(['select',
       'templates.template_id',
       'where',
       'templates.template_type_code',
       '=',
       'value',
       'or',
       'templates.template_type_code',
       '=',
       'value'],
      [])]}],
  'lang': 'eng'},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 28,
  'final': {'utterance': 'How many templates have template type code CV ?',
   'sql': 'select count ( templates.* ) where templates.template_type_code = value'},
  'interaction': [{'utterance': 'How many templates have template type code CV ?',
    'sql': [(['select',
       'count',
       '(',
       'templates.*',
       ')',
       'where',
       'templates.template_type_code',
       '=',
       'value'],
      [])]}],
  'lang': 'eng'},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 29,
  'final': {'utterance': 'Count the number of templates of the type CV .',
   'sql': 'select count ( templates.* ) where templates.template_type_code = value'},
  'interaction': [{'utterance': 'Count the number of templates of the type CV .',
    'sql': [(['select',
       'count',
       '(',
       'templates.*',
       ')',
       'where',
       'templates.template_type_code',
       '=',
       'value'],
      [])]}],
  'lang': 'eng'},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 30,
  'final': {'utterance': 'What is the version number and template type code for the template with version number later than 5 ?',
   'sql': 'select templates.version_number , templates.template_type_code where templates.version_number > value'},
  'interaction': [{'utterance': 'What is the version number and template type code for the template with version number later than 5 ?',
    'sql': [(['select',
       'templates.version_number',
       ',',
       'templates.template_type_code',
       'where',
       'templates.version_number',
       '>',
       'value'],
      [])]}],
  'lang': 'eng'},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 31,
  'final': {'utterance': 'Return the version numbers and template type codes of templates with a version number greater than 5 .',
   'sql': 'select templates.version_number , templates.template_type_code where templates.version_number > value'},
  'interaction': [{'utterance': 'Return the version numbers and template type codes of templates with a version number greater than 5 .',
    'sql': [(['select',
       'templates.version_number',
       ',',
       'templates.template_type_code',
       'where',
       'templates.version_number',
       '>',
       'value'],
      [])]}],
  'lang': 'eng'},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 32,
  'final': {'utterance': 'Show all template type codes and number of templates for each .',
   'sql': 'select templates.template_type_code , count ( templates.* ) group_by templates.template_type_code'},
  'interaction': [{'utterance': 'Show all template type codes and number of templates for each .',
    'sql': [(['select',
       'templates.template_type_code',
       ',',
       'count',
       '(',
       'templates.*',
       ')',
       'group_by',
       'templates.template_type_code'],
      [])]}],
  'lang': 'eng'},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 33,
  'final': {'utterance': 'What are the different template type codes , and how many templates correspond to each ?',
   'sql': 'select templates.template_type_code , count ( templates.* ) group_by templates.template_type_code'},
  'interaction': [{'utterance': 'What are the different template type codes , and how many templates correspond to each ?',
    'sql': [(['select',
       'templates.template_type_code',
       ',',
       'count',
       '(',
       'templates.*',
       ')',
       'group_by',
       'templates.template_type_code'],
      [])]}],
  'lang': 'eng'},
 {'id': '',
  'scenario': '',
  'database_id': 'cre_Doc_Template_Mgt',
  'interaction_id': 34,